# Count or Frequency Encoding

In [2]:
import pandas as pd
import numpy as np

In [5]:
data=pd.read_csv(r"C:\Users\yash.jha\Downloads\Mercedes.csv",usecols=['X1','X2'])
data.head()

  X1  X2
0  v  at
1  t  av
2  w   n
3  t   n
4  v   n

In [8]:
data.shape

(4209, 2)

## One Hot Encoding

In [9]:
pd.get_dummies(data).shape

(4209, 71)

As, We can see if we try to perform one hot encoding then the column no. is getting expanded dramatically. So wi will try to perform Count or frequency encoding

In [10]:
len(data['X1'].unique())

27

In [11]:
len(data['X2'].unique())

44

In [12]:
# Let's have a look on how many labels
for col in data.columns[0:]:
    print(col,': ',len(data[col].unique()), 'Labels')

X1 :  27 Labels
X2 :  44 Labels

In [15]:
# Let's obtain the count for each one of the labels in variable X2
# Let's capture this in a dictionary so that we can use to re-map the labels

data.X2.value_counts().to_dict()

{'as': 1659,
 'ae': 496,
 'ai': 415,
 'm': 367,
 'ak': 265,
 'r': 153,
 'n': 137,
 's': 94,
 'f': 87,
 'e': 81,
 'aq': 63,
 'ay': 54,
 'a': 47,
 't': 29,
 'k': 25,
 'i': 25,
 'b': 21,
 'ao': 20,
 'ag': 19,
 'z': 19,
 'd': 18,
 'ac': 13,
 'g': 12,
 'ap': 11,
 'y': 11,
 'x': 10,
 'aw': 8,
 'at': 6,
 'h': 6,
 'al': 5,
 'an': 5,
 'q': 5,
 'av': 4,
 'ah': 4,
 'p': 4,
 'au': 3,
 'am': 1,
 'j': 1,
 'af': 1,
 'l': 1,
 'aa': 1,
 'c': 1,
 'o': 1,
 'ar': 1}

In [16]:
# And now let's replace each label in x2 by its count
# First we make a dictionary that maps each labels to count

df_frequency_map= data.X2.value_counts().to_dict()

In [17]:
data.head()

  X1  X2
0  v  at
1  t  av
2  w   n
3  t   n
4  v   n

In [18]:
# Now replace the labels by the counts
data.X2=data.X2.map(df_frequency_map)
data.head()

  X1   X2
0  v    6
1  t    4
2  w  137
3  t  137
4  v  137

##  Advantage of count or frequency encoding
- It is very simple to implement
- Does not increase the feature dimensional space

## Disadvantages of Count or frequency encoding
- If some of the labels have the same count, then they will be replaced with the same count and they will loose some valuable information
- Adds somewhat arbitrary numbers, and therefore weights to the different labels, That may not be related to their predictive power.